@media (max-width: 1100px){
.cart_name, .cart_img, .cart_count, .price_cart {
    font-size: 15px;
    line-height: 20px;
    }

    .cart_wrapper:first-child p,
    .cart_wrapper:first-child .cart_img,
    .cart_wrapper:first-child .cart_count{
    font-size: 18px;
    font-weight: 700;
}

    .prices_title {
        font-size: 18px;
    }
}

@media (max-width:1024px) {
    .zakaz_btn {
        font-size: 18px;
        width: 300px;
        height: 45px;
    }

    .prices_title {
        width: 300px;
        height: 45px;
        align-items: center;
    }
}

@media (max-width:800px) {
    .cart_img img {
        height: 50px;
    }

    .cart_name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}