.coin_item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.coin_name:first-child{
  padding-left: 10px;
}

.coin_item:nth-child(odd)
 {
    background-color: #a19dd1;
}

.coin_title{
    text-align: center;
    padding: 25px;
}

.coin_item:hover {
    box-shadow: inset 0px 0px 0px 1px #000;
}

.coin_name,
.coin_data {
    width: 50%;
    font-size: 18px;
}

.coin_item:last-child {
    margin-bottom: 25px;
}

.coin_center {
    text-align: center;
}

.coin_title_back{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back{
    background-color: #f5f5f5;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin: 0 30px;
}


.lds-circle {
    display: inline-block;

    transform: translateZ(1px);
    text-align: center;
  }

  
  .lds-circle > div {
    display: inline-block;
    
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #a19dd1;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
