.service_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servise_wrapper .services:first-child .services_item:first-child{
    background: url("../image/service3.jpg") ;
    background-position: 50% 50%;
    background-size:cover;
}

.servise_wrapper .services:first-child .services_item:last-child{
    background: url("../image/service4.jpg") ;
    background-position: 70% 50%;
    background-size:cover;
}

.servise_wrapper .services:last-child .services_item:first-child{
    background: url("../image/service1.jpg") ;
    background-position: 50% 50%;
    background-size:cover;
}

.servise_wrapper .services:last-child .services_item:last-child{
    background: url("../image/service2.jpeg") ;
    background-position: 70% 50%;
    background-size:cover;
}

.services_item p{
    width: 50%;
    line-height: 35px;
}

.maning_item {
    font-size: 18px;
}

.compani_wrapper {
    font-size: 18px;
    margin-bottom: 20px;
}

.ferm_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ferm_img,
.pageRazgon .ferm_img {
    width: 600px;
}

.ferm_img img,
.pageRazgon .ferm_img img{
    width: 100%;
    border-radius: 10px;
}

.consultation_wrapper,
.razgon_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consultation_wrapper .maning_item,
.pageRazgon .maning_item {
    width: 50%;
}

.consultation_wrapper h2,
.maning_item h2 {
    color: #6f5cea;
}

.consultation_wrapper li,
.maning_item li {
    margin: 10px 10px 10px 20px;
}

.ant-form {
    width: 50%;
}

.consultation_title h1,
.maningPage h1,
.fermPage h1,
.remontPage h1,
.pageRemontFerm h1,
.pageRazgon h1,
.contactPage h1,
.guaranteePage h1,
.deliveryPage h1,
.politicaPage h1,
.servicePage h1,
.companyPage h1{
    font-size: 35px;
    padding: 20px;
    text-align: center;
}

.consultationPage .consultation {
    height: 250px;
}

.consultationPage .consultation button {
    display: none;
}
